<div id="page-wrapper">
  <div class="row">
    <div class="panel panel-default">
      
      <div class="panel-heading">        
        <h2>Gerar Relatório</h2>
      </div>
     
       <div class="panel-body">
         <div class="container col-md-12">
         <span class="pull-right"><b>JBuyer</b> - Módulo Empresa balablablablalbal</span>  
          <hr>
          <b>Endereço: </b><span>fdasfadsfasdfasdfasd </span>
          <b>Rua: </b><span>fdfasdfasd </span>
          
        
 <%= @data_ini %>
        <%= @data_fin %>
        
        <% @pedidos.each do |p| %>
          <%= p.status %>
        <% end %>
        
        
        
        
       
        </div>
      </div>
      
    </div>
  </div>
</div>






 <%= @data_ini %>
        <%= @data_fin %>
        
        <% @pedidos.each do |p| %>
          <%= p.status %>
        <% end %>