<div id="page-wrapper">
  <div class="row">
<h1 class="page-header">Produtos</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= action %>
    </div>
    
    <div class="panel-body">
      <div class="col-lg-6">

       <%= form_for([:backoffice, @produto],  html: {multipart: true}) do |f| %>

        <div class="form-group">
           <label>Nome</label>
           <%= f.text_field :produto, class: "form-control", placeholder: "Ex.: Biscoito Negresco" %>
        </div>
        
        <div class="form-group">
           <label>Descrição do produto</label>
           <%= f.text_field :desc_produto, class: "form-control" %>
        </div>

        <div class="form-group">
           <label>Quantidade de entrada</label>
           <%= f.number_field :qtd_estoque, class: "form-control" %>
        </div>

        <div class="form-group">
           <label>Valor da compra</label>
           <%= f.number_field :valor_pago, class: "form-control" %>
        </div>
        
        <div class="form-group">
           <label>Valor da venda</label>
           <%= f.number_field :valor_venda, class: "form-control" %>
        </div>
        
              
        <div class="form-group">
          <label>Selecione a foto</label>
          <%= f.file_field :foto %>
        </div>
        
        <div>
          <label>Tipo de produto</label>
          <br/>          
            <%= collection_select(:produto, :tipo_produto_id, TipoProduto.all, :id, :nome_tipo) %>
        </div>      
        
        <button type="submit" class="btn btn-default">Salvar</button>
      <% end %>

     </div>
    </div>
  </div>
      </div>
    </div>
      